### Números

In [1]:
# Suma
1+3

4

In [2]:
# Resta
2-1

1

In [3]:
# Multiplicación
2*5

10

In [4]:
# Division
3/2

1.5

In [5]:
# Floor o división de piso (// trunca el resultado sin redondear y nos da el número entero)
3//2

1

In [3]:
# Módulo (nos da el resto) (si dividimos un número par el módulo da 0)
3%2

1

In [4]:
# Potencia
2**3

8

In [5]:
# Raíces (como la potencia al revés) (en R es sqrt)
4**0.5

2.0

In [6]:
4**(1/2)

2.0

In [7]:
# Orden de operaciones en Python (respeta la jerarquí para hacer operaciones)
1+10*10+5

106

In [7]:
(1+10)*(10+5) #(delimitamos el orden de las operaciones)

165

In [8]:
# Asignamos números a variables
a=5

In [9]:
a+a

10

In [10]:
# Reasignamos
a=10

In [10]:
a

5

In [11]:
a=a+a

In [12]:
a

10

In [11]:
mi_valor=100
ratio=0.1
mi_precio=mi_valor*ratio
mi_precio

10.0

In [12]:
# Podemos determinar el tipo de una variable con type() (en R usábamos clust) (int significa entero y float decimal)
type(a)

int

### STRINGS

In [13]:
'hello' #(cuando usamos una comilla algunos caracteres especiales se pasan como caracteres especiales y no como texto (para eso usamos dos comillas))

'hello'

In [14]:
'Esto también es una string'

'Esto también es una string'

In [15]:
"y esto también"

'y esto también'

In [16]:
# Para algunas cosas la comilla simple no nos serviría (al poner una coma solo paara abrir la string, no está reconociendo el caracter especial del i am)
'i'm using this'

SyntaxError: unterminated string literal (detected at line 2) (1773677481.py, line 2)

In [17]:
"i'm using this" (para que nos reconozca la comilla del i am ponemos dos comillas)

"i'm using this"

In [19]:
# Print() nos permite mostrar strings en el código
print('Hello World 1')
print('Hello World 2')
print('Use \n to print a new line') #\n es salto de línea, \t crea un espacio
print('Use \t to print a new line')
print('\n') #sigue pasando lo mismo que antes
print('See what I mean?')

Hello World 1
Hello World 2
Use
 to print a new line
Use 	 to print a new line


See what I mean?

In [20]:
# Podemos usar len() para chequear la longitud de una string (en R lo hacemos poniendo length)
len("Hello World")

11

In [13]:
s="Hello World"

In [23]:
print(s)

Hello World

In [24]:
len(s)

11

In [26]:
# En Python se empieza a contar desde el 0 (en R desde 1)
s[0]

'H'

In [27]:
s[2]

'l'

In [29]:
# Coger todo desde el caracter 1 hasta el final
s[1:] #los puntos indican un rango

'ello World'

In [30]:
# Coger todo desde el principio hasta el número 3 (no incluido)
s[:3]

'Hel'

In [31]:
# Coger todo
s[:]

'Hello World'

In [32]:
# Podemos coger todo menos la última
s[:-1]

'Hello Worl'

In [33]:
# Coger todo pero yendo en pasos de 2
s[::2]

'HloWrd'

In [38]:
# La mostramos al revés
s[::-1]

'emanetacnoc dlroW olleH'

In [39]:
s[0]='x' #no podemos reasignar

TypeError: 'str' object does not support item assignment

In [41]:
# Concatenar
s =s + ' concatename'

In [42]:
s

'Hello World concatename concatename concatename'

In [43]:
# si que podemos usar el multiplicador para crear repetición de elementos
letter='z'
letter*10

'zzzzzzzzzz'

In [44]:
# Todo en mayúsculas (no cambia el original)
s.upper()

'HELLO WORLD CONCATENAME CONCATENAME CONCATENAME'

In [45]:
s (#vemos que no se guardan las mayúsculas, para que se guarden debemos dar variable a s.upper)

SyntaxError: incomplete input (2521246288.py, line 1)

In [46]:
# Todo en minúsculas
s.lower()

'hello world concatename concatename concatename'

In [47]:
# Separa la string por los espacios en blanco #crea un vector con tres elementos
s.split()

['Hello', 'World', 'concatename', 'concatename', 'concatename']

In [48]:
s.split('l') #la L es usada como separador, no la tiene en cuenta

['He', '', 'o Wor', 'd concatename concatename concatename']

In [49]:
# Tips para hacer un print bonito con las f-strings
nombre='Paco'
print(f"Él dijo que su nombre era {nombre}.")

Él dijo que su nombre era Paco.

In [ ]:
print (f"Él dijo que su nombre era {nombre}."")  #Esto es para que reconozca el nombre de nuestra variable

In [50]:
# Podemos meter la string literal con !r   #Esto es para que reconozca el contenido literalmente
print(f"Él dijo que su nombre era {nombre!r}.")

Él dijo que su nombre era 'Paco'.