### LISTAS

In [2]:
mi_lista = [1,2,3]

In [3]:
# Podemos reasignar sus valores
mi_lista = ['Una string',23,100.232,'o']

In [4]:
mi_lista

['Una string', 23, 100.232, 'o']

In [5]:
# Podemos medir su longitud
len(mi_lista)

4

In [6]:
# Podemos acceder a partes de la lista
mi_lista[0]

'Una string'

In [7]:
mi_lista[1:]

[23, 100.232, 'o']

In [8]:
mi_lista[:3]

['Una string', 23, 100.232]

In [9]:
# Podemos añadir nuevos elementos o concatenar
mi_lista + ['nuevo']

['Una string', 23, 100.232, 'o', 'nuevo']

In [10]:
mi_lista

['Una string', 23, 100.232, 'o']

In [11]:
mi_lista = mi_lista + ['nuevo elemento'] #para que se nos añada a la lista

In [12]:
mi_lista

['Una string', 23, 100.232, 'o', 'nuevo elemento']

In [17]:
mi_lista.append('otro') #sirve para concatenar #(la función se opera sobre lo que tenga delante)

In [16]:
# Podemos aumentar su tamaño
mi_lista*2

['Una string',
 23,
 100.232,
 'o',
 'nuevo elemento',
 'otro',
 'otro',
 'otro',
 'Una string',
 23,
 100.232,
 'o',
 'nuevo elemento',
 'otro',
 'otro',
 'otro']

In [18]:
# Podemos quitar el último elemento (permanentemente)
mi_lista.pop()
mi_lista

['Una string', 23, 100.232, 'o', 'nuevo elemento', 'otro', 'otro', 'otro']

In [19]:
# Podemos darle la vuelta a la lista con reverse(). De forma permanente #si el paréntesis está vacío se ejecuta el último dato
mi_lista.reverse()
mi_lista

['otro', 'otro', 'otro', 'nuevo elemento', 'o', 100.232, 23, 'Una string']

In [20]:
# Podemos ordenarla una lista alfabéticamente o numéricamente #sort obliga a que sea todo letras o todo números
prueba = [1,5,6,34,100]
prueba.sort()
prueba

[1, 5, 6, 34, 100]

In [21]:
# Hacemos una matriz o tabla
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

matrix = [lst_1,lst_2,lst_3]
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [22]:
matrix[0]

[1, 2, 3]

In [23]:
matrix [1][1] #nos sirve para acceder al índice 1 de la lista 1 (recuerda que empezamos a contar en 0)

5

In [24]:
matrix[0][0]

1

In [25]:
# List comprehensions. Aquí lo que estamos haciendo es sacar el primer elemento de matrix #row=0 para cada fila el índice cero
first_col = [row[0] for row in matrix]
first_col

[1, 4, 7]

### DICCIONARIOS

In [26]:
mi_dict = {'key1':'value1','key2':'value2'} #nombre de la llave:nombre del valor
mi_dict

{'key1': 'value1', 'key2': 'value2'}

In [27]:
mi_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}
mi_dict

{'key1': 123, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}

In [28]:
# Vamos a acceder a los elementos de un diccionario
mi_dict['key1']

123

In [29]:
mi_dict['key3'][0] #para acceder al elemento 0 del key3

'item0'

In [30]:
# Podemos incluso llamar a funciones sobre esos valores
mi_dict['key3'][0].upper()

'ITEM0'

In [31]:
mi_dict #llamamos al diccionario para comprobar si se han cambiado las minúsculas por mayúsculas. Para cambiarlo, tendríamos que asignar variable

{'key1': 123, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}

In [32]:
# Podemos cambiar los valores de las keys #esto es permanente
mi_dict['key1'] = mi_dict['key1'] - 123
mi_dict

{'key1': 0, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']}

In [33]:
mi_dict['key1'] += 123 #esto lo hacemos para recuperar de nuevo nuestro valor de key1. El += significa súmate a ti mismo y sería igual con la resta pero -=
mi_dict['key1']

123

In [34]:
# Podemos crear nuevas keys
d = {}
d['animal'] = 'Perro'
d['respuesta'] = 42
d

{'animal': 'Perro', 'respuesta': 42}

In [38]:
d['animal']

'Perro'

In [35]:
# Podemos meter un diccionario dentro de otro
d['nestedKey']=mi_dict
d

{'animal': 'Perro',
 'respuesta': 42,
 'nestedKey': {'key1': 123,
  'key2': [12, 23, 33],
  'key3': ['item0', 'item1', 'item2']}}

In [39]:
# Podemos devolver todas las keys #sale todas las keys que hay en el diccionario d
d.keys()

dict_keys(['animal', 'respuesta', 'nestedKey'])

In [37]:
# Podemos devolver todos los valores (como tuplas, ¡ya lo veremos!)
d.items()

dict_items([('animal', 'Perro'), ('respuesta', 42), ('nestedKey', {'key1': 123, 'key2': [12, 23, 33], 'key3': ['item0', 'item1', 'item2']})])

### TUPLAS

In [40]:
t = (1,2,3) #es como las listas pero va entre paréntesis y no entre corchetes. La diferencia es que no es modificable
len(t)

3

In [41]:
t

(1, 2, 3)

In [43]:
type (t) #para saber con qué elemento estamos trabajando

tuple

In [42]:
# Las tuplas pueden tener elementos de distinto tipo
t = ('uno',2)
t

('uno', 2)

In [44]:
# Podemos acceder a sus elementos pero no cambiarlos
t[0]

'uno'

In [45]:
t[0]=0

TypeError: 'tuple' object does not support item assignment

In [46]:
t[-1] #te muestra el último elemento de la tupla

2

In [47]:
# Usamos index() para retornar el valor de un índice
t.index('uno')

0

In [48]:
# También podemos contar el número de veces que aparece un item en la tupla
t.count('uno')

1

In [49]:
# Las tuplas tampoco pueden crecer
t.append('tres')

AttributeError: 'tuple' object has no attribute 'append'

### SETS

In [50]:
x = set()
type(x)

set

In [51]:
# Añadimos elementos con .add(). ¡Fíjate en los corchetes!!!! Como las keys de los diccionarios
x.add(1)
x

{1}

In [52]:
x.add(2)
x

{1, 2}

In [53]:
# No nos deja añadir duplicados porque es de valores únicos
x.add(1)
x

{1, 2}

In [54]:
# Fíjate que nos elimina los duplicados!
list1 = [1,1,2,2,3,4,5,6,1,1]
set(list1)

{1, 2, 3, 4, 5, 6}

### BOOLEANS

In [55]:
a = True
type(a)

bool

In [56]:
# Aquí la salida sería el booleano
1>2

False

In [66]:
# Aquí la salida sería el booleano
1<2

True

In [57]:
# None nos sirve para no assignar un tipo de objeto
b = None
type(b)

NoneType

In [58]:
# Comparaciones igualdad
2==2

True

In [59]:
1==0

False

In [60]:
# No igualdad
2 != 1

True

In [61]:
# Mayor o menor que
2<4

True

In [62]:
# Mayor o menor o igual que
2 <=2

True

In [63]:
# También podemos encadenar operadores de comparación
1 < 2 < 3

True

In [64]:
# O podemos usar AND #forzamos a que LAS DOS condiciones sean verdad
1<2 and 2<3

True

In [67]:
1>2 and 2<3

False

In [65]:
# También podemos usar OR #NO es necesario que LAS DOS condiciones sean verdad
1 == 2 or 2 <3

True